<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
 
   
</head>



<body>
    
    <div class="container-fluid col-12">

        <div class="row">
            <nav class="navbar navbar-light bg-light col-12 text-align" >
                <a class="navbar-brand" href="#">
                  <img src="/images/train.png" width="30" height="30" alt="">
                  <h5>Ticketac</h5>
                </a>
                <div class="end">
                    <p class="rouge">Connection</p>
                    <div class="end">
                    <a href="/users/lastTrip"><p>My last trips</p></a>
                  </div>
            </div>
              </nav>
        </div>
        
        </div>
       <h5 class="light text-center">One-way ticket :</h5>
        
<div class="container-fluid col-12">
       
       
       <form action="/ticket" method="POST">
              <div class="centre text-center">
                
        
            <div class="new">
              <input name="departureFromFront" type="text" class="form-control" placeholder="From: Paris, Marseille...">
            </div>
   
        
         <div class=" new">
          <input name="arrivalFromFront" type="text" class="form-control" placeholder="To: Lille, Nantes...">
         </div>

         <div class="new"> 
          <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control" placeholder="Date :">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
          </div>
            

         <div class="new">
            <button type="submit" class="btn btn-danger">Go</button> 
          </div>
          </form>
          </div>

          <div class="mag">
            <img src="/images/landmark.png" class="rounded" alt="..." width="300" height="300"></div>
        
         
        
        
        

      
        
        
        
        
        
        
        
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>