body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/landmark.png);
  background-repeat:no-repeat;
  background-position: bottom bottom;
  background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(30,87,153) 0%, rgb(41,137,216) 50%, rgb(32,124,202) 51%, rgb(125,185,232) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

a {
  color: #00B7FF;
}

.end {
  display: flex;
  align-items: center;
  padding: 10px;
        }

.row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar-brand{
    display: flex;
}

.navbar{
  width: 90em;
  margin: 0 15px;
}
.one {
  display: flex;
 
}

.home{
  width: 75%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin: 0;
}

.light{
  padding: 30px;
  color: white;
  margin: 0;

}

.pad{
  width: 60em;
  display: flex;
  justify-content: center;
  padding-top: 10px;

}

.container-fluid{
  width: 100em;
  padding: 0;
}

.new{
  display: flex;
  justify-content: center;
  padding:  15px;
}

.centre{
  display: flex;
  justify-content: center;
}